.slider {
  width: 95%;
}
.warpContainer {
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.slider__heading {
  text-align: center;
  color: rgb(73, 15, 0);
  font-family: 'Kalam', cursive;
  font-size: 40px;
  text-decoration: underline;
}

.warpContainer__div {
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 /73%) 0px 16px 10px -10px;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 4px;
}
.wrapContainer__imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapContainer__Title {
  margin-top: 10px;
}
.wrapContainer__img {
  height: 128px;
  width: 128px;
  border-radius: 128px;
  object-fit: contain;
}
.warpContainer__img :hover {
  padding: 0;
  border: 4px solid rgba(249, 249, 249, 0.8);
  transition-duration: 300s;
}

@media (min-width: 1240px) {
  .warpContainer__img {
    height: 120px;
    width: 120px;
    border-radius: 120px;
  }
}
@media (max-width: 426px) {
  .warpContainer__img {
    height: 70px;
    width: 70px;
    border-radius: 70px;
  }
}
@media (max-width: 376px) {
  .warpContainer__img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }
}
